@use '../variables' as *;
@use '../mixins' as *;

.hero {
  overflow: hidden;

  &__inner {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(0, 1.05fr) minmax(0, 0.95fr);
    align-items: center;
    gap: 40px;
  }

  &__content {
    padding-left: 16px;
    padding-right: 24px;
  }

  &__title {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 90px;
    line-height: normal;
    color: #205691;
    margin: 0 0 16px;
    font-weight: 700;

    p {
      margin: 0;
      display: block;
      white-space: nowrap;
    }
  }

  &__subtitle {
    font-size: 16px;
    line-height: 1.6;
    color: $color-primary;
    margin: 0 0 39px;
  }

  &__cta {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 320px;
    height: 64px;
    background: #f87171;
    color: #fafafa;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    border-radius: 0;
  }

  &__stats {
    margin: 87px 0 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: 6px;

    strong {
      font-family: 'Source Sans 3', sans-serif;
      font-size: 48px;
      font-weight: 700;
      line-height: 40px;
      color: #205691;
    }

    span {
      font-family: 'Helvetica', sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #075985;
    }
  }

  &__media {
    display: flex;
    justify-content: flex-end;
  }

  &__image {
    width: 100%;
    max-width: none;
    height: auto;
    display: block;
  }

  @media (max-width: 1024px) {
    padding-top: 33px;

    &__inner {
      grid-template-columns: 1fr;
      text-align: center;
      gap: 32px;
    }

    &__content {
      padding-left: 24px;
      padding-right: 24px;
      order: 1;
    }

    &__media {
      order: 2;
      margin-top: 0;
      justify-content: center;
    }

    &__title {
      font-size: 56px;
    }

    &__cta {
      justify-content: center;
    }

    &__stats {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 42px;

      p {
        white-space: normal;
      }
    }

    &__stats {
      grid-template-columns: 1fr;
      gap: 18px;
    }

    &__content {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  @include respond-md {
    &__inner {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__media {
      margin-top: 18px;
    }

    &__cta {
      justify-content: center;
    }

    &__stats {
      grid-template-columns: 1fr;
      gap: 18px;
    }

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__content {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
