@use '../variables' as *;
@use '../mixins' as *;

.page {
  padding: 56px 0 72px;

  &__inner {
    @include container;
  }

  h1 {
    font-size: clamp(28px, 4vw, 40px);
    margin: 0 0 $spacing-3;
    color: $color-primary;
  }

  p {
    font-size: 1rem;
    line-height: 1.6;
    color: $color-muted;
    margin: 0;
  }
}
