* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-base;
  background: $color-bg;
  color: $color-text;
}

main {
  flex: 1;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
